.wrapper {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 0px;
}



@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 640px;
    padding: 30px 20px 30px;
  }
}
