.select-descr {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.select-container {

}
.control {
  border-radius: 12px;
}
.select__value-container {

}
.select__placeholder {
  color: red;
}
.select__indicators {

}
.select__menu {

}
.select__menu-list {

}
.select__option {

}
