.select {
  position: relative;
  z-index: 100;
}
.select-toggle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}
.select-items li {
  padding: 5px 10px;
}
.select-items li.active {
  background-color: #aaa;
  color: green;
}
